    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width" />
            <title>Create_user</title>
        </head>
        <body>
            <form action="/create" method="post" accept-charset="utf-8">
                <input type="text" name="first_name" id="first_name" value="" />
                <input type="text" name="last_name" id="last_name" value="" />
                <input type="text" name="occupation" id="occupation" value="" />
                <input type="submit" name="submit" id="submit" value="Submit" />
            </form>
        </body>
    </html>
